name: Build, Push & Deploy to EKS

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    name: Build, Push & Deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: attentrack
        IMAGE_TAG: ${{ github.sha }}
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG

    - name: Update Deployment
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: attentrack
        IMAGE_TAG: ${{ github.sha }}
      run: |
        # 1. Connect to EKS
        aws eks update-kubeconfig --region ap-south-1 --name attentrack-cluster
        
        # 2. AUTO-DISCOVER RDS ENDPOINT
        RDS_ENDPOINT=$(aws rds describe-db-instances --db-instance-identifier attentrack-cluster-db --query "DBInstances[0].Endpoint.Address" --output text)
        echo "Found RDS Endpoint: $RDS_ENDPOINT"

        # 3. Apply Kubernetes Infrastructure changes
        kubectl apply -f k8s/deployment_and_service.yaml
        
        # 4. Inject the discovered RDS Endpoint and the new Image Tag
        kubectl set env deployment/attentrack-deployment DB_HOST=$RDS_ENDPOINT
        kubectl set image deployment/attentrack-deployment attentrack=$ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
        
        # 5. Wait for rollout
        kubectl rollout status deployment/attentrack-deployment
